.about {
    color: #504848;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 50px;
}

.about__tagline {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #94A5A5;
    margin-bottom: 45px;
}

.about__headline {
    margin-bottom: 20px;
}

.about__image {
    max-width: 365px;
    min-width: 128px;
    margin-left: 10px;
    width: 50%;
    float: right;
    border-radius: 30px;
    height: auto;
    margin-bottom: 25px;
}

.about__accent {
    margin-top: 0;
}

.about__text {
    &--desktop {
        display: none;
    }
}

@media (min-width: $width-desktop) {

    .about {
        font-size: 1.25rem;

    }

    .about__tagline {
        font-size: 2rem;
        text-align: left;
        margin-bottom: 45px;
        width: 440px;
        margin-left: 50%;
    }

    .about__text {
        &--accent {
            $currentWidth: 370px;
            $imageWidth: 365px;
            margin-left: calc(50% - ($currentWidth / 2) - ($imageWidth / 2));
            margin-top: 90px;
            width: $currentWidth;
            margin-bottom: 85px;
        }

        &--desktop {
            display: block;
        }
    }

    .about__image {
        margin-left: 35px;
        
    }
}