*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $width-desktop;
}

.button {
  appearance: none;
  color: #ffffff;
  background-color: #98BA97;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2;
  cursor: pointer;
  @include transition(background-color);
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  vertical-align: baseline;

  &:hover,
  &:focus {
    background-color: #7B957A;
  }

  &--stroke {
    background-color: transparent;
    border: 3px solid #98BA97;
    color: #504848;

    &:hover,
    &:focus {
      background-color: #ffffff;
    }
  }
}

.paragraph {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
}

.headline {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'SoyuzGrotesk', sans-serif;
}

@media (min-width: $width-desktop) {
  .paragraph {
    font-size: 1.25rem;
  }

  .headline {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'SoyuzGrotesk', sans-serif;
    font-size: 5rem;
  }

  .button {
    font-size: 1.375rem;
    padding: 25px;
  }
}